body {
    background-color: rgb(0, 145, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-align: center;
    background-size: cover;
    color: white;
    font-weight: bold;



}
 h1 {
    color: goldenrod;

 }

 #message{
   font-style: italic;
 }


button {
    background-color: goldenrod;
    border-color:  rgb(0, 145, 0) ;
    color: green;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold ;
    border-radius: 2px 2px;
    margin-bottom: 5px;
}


